// Variables
$primary: #51B174;
$dark-grey: #999;

body {
    padding-left: 0;
    padding-right: 0;
}
ul.meta {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
ul.meta li {
    font-size: 14px;
    color: $primary;
}
ul.meta li:not(:last-child) {
    margin-right: 20px;
}
.container-fluid {
    width: 1600px;
}
.title {
    &-big {
        font-size: 6.4em;
        line-height: 1.1em;
        font-weight: 400;
    }
}
/* ----- Banner ----- */
.title-banner {
    font-weight: 400;
}
.titles h2 {
    font-weight: 400;
}
/* ----- Homepage -----*/
.home-banner-text {
    display: flex;
    align-items: center;
    
    .title-banner {
        margin-left: 30px;
    }
}

/* ----- Recent Work ----- */
.rec_work {
    overflow: hidden;
    &-inner {
        display: flex;
        align-items: center;
        flex: 1 1 100%;
        max-width: 100%;
    }
    &_title {
        margin-right: 10%;
    }
    &_slider {
        &-inner {
            display: flex;
        }
        &-item {
            width: 500px;
            padding-right: 30px;
            &-title {
                font-size: 1.5em;
                line-height: 1.6em;
                margin: 15px 0;
            }
            &-desc {
                margin-bottom: 25px;
            }
            &-top {
                display: flex;
                align-items: flex-end;
                img {
                    width: 100%;
                }
            }
            &-bottom {
                padding-top: 20px;
            }
        }
    }
}
/* ----- What We Do ----- */
.whatWe {
    overflow: hidden;
    &-ani {
        position: relative;
        &-text {
            position: absolute;
            -webkit-animation: ticker--vertical 45s linear infinite;
            animation: ticker--vertical 45s linear infinite;
            display: block;
            h2 {
                display: block;
                left: 15px;
                position: relative;
                transform: rotate(-90deg) translate(-100%);
                transform-origin: top left;
                white-space: nowrap;
                span:not(:last-child) {
                    margin-right: 50px;
                }
            }
        }
    }
}

/* ----- Client Logos ----- */
.client_ani {
    overflow: hidden;
    &-row {
        width: 200vw;
        display: flex;
        &-inner {
            display: flex;
        }
    }
    &-column {
        max-width: 100%;
        margin: 15px 30px;
    }
}

/* -----  ----- */