// Variables
$primary: #51B174;
$dark-grey: #999;
$color-dark: #282828;

body {
    padding-left: 0;
    padding-right: 0;
}
ul.meta {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
ul.meta li {
    font-size: 14px;
    color: $primary;
}
ul.meta li:not(:last-child) {
    margin-right: 20px;
}
.container {
    @media (min-width: 1600px) {
        max-width: 1400px;
    }
}
h6 {
    line-height: 1.8em;
}
.title {
    &-big {
        font-size: 6em;
        line-height: 1.1em;
        font-weight: 400;
        @media (max-width: 1600px) {
            font-size: 4.8em;
        }
    }
}
/* ----- Banner ----- */
.home-banner-text {
    display: flex;
    align-items: center;
    img {
        transform: translateX(-25px);
        margin-right: 30px;
    }
    h2 {
        max-width: 1085px;
    }
    @media (min-width: 1600px) {
        padding: 30px 0 0;
    }
}
.cursor {
    display: inline-block;
    background-color: $primary;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
    &.typing {
        animation: none;
    }
}
@keyframes blink {
    0%  { background-color: $primary; }
    49% { background-color: $primary; }
    50% { background-color: $primary; }
    99% { background-color: transparent; }
    100%  { background-color: $primary; }
}

/* ----- Recent Work ----- */
.float_sec {
    overflow: hidden;
    &-inner {
        display: flex;
        align-items: center;
        flex: 1 1 100%;
        max-width: 100%;
    }
    &_title {
        margin-right: 10%;
    }
    &_slider {
        &-inner {
            display: flex;
        }
        &-item {
            width: 400px;
            padding-right: 40px;
            &-title {
                font-size: 1.4em;
                line-height: 1.5em;
                margin: 15px 0;
            }
            &-desc {
                margin-bottom: 25px;
            }
            &-top {
                display: flex;
                align-items: flex-end;
                img {
                    width: 100%;
                }
            }
            &-bottom {
                padding-top: 30px;
            }
        }
    }
}
/* ----- What We Do ----- */
.whatWe {
    overflow: hidden;
    &-content {
        margin-left: 15%;
    }
    .whatWeAni {
        &-container {
            background: #fff;
            height: 30px;
            margin-right: -1px;
            position: relative;
            width: 100vw;
            >div {
                left: 0;
                padding: 7px 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
            @media (min-width: 768px) {
                float: left;
                height: auto;
                width: 75px;
            }
        }
        &-rotate {
            &-outer {
                @media (min-width: 768px) {
                    display: table;
                }
                >div {
                    -webkit-animation: ticker--horizontal 40s linear infinite;
                    animation: ticker--horizontal 40s linear infinite;
                    display: inline-flex;
                    @media (min-width: 768px) {
                        -webkit-animation: ticker--vertical 40s linear infinite; 
                        animation: ticker--vertical 40s linear infinite;
                        display: block;
                    }
                }
            }
            &-inner {
                display: inline-block;
                @media (min-width: 768px) {
                    padding: 50% 0;
                }
            }
        }
        &-title {
            float: left;
            letter-spacing: .09em;
            white-space: nowrap;
            font-size: 3em;
            @media (min-width: 768px) {
                display: block;
                left: 0.09em;
                line-height: 100%;
                margin-top: -50%;
                position: relative;
                transform: rotate(-90deg) translate(-100%);
                transform-origin: top left;
                white-space: nowrap;
            }
        }
    }
}
@-webkit-keyframes ticker--horizontal {
    0% { transform: translateZ(0); }
    to { transform: translate3d(-50%, 0, 0); }
}
@keyframes ticker--horizontal {
    0% { transform: translateZ(0); }
    to { transform: translate3d(-50%, 0, 0); }
}
@-webkit-keyframes ticker--vertical {
    0% { transform: translateZ(0); }
    to { transform: translate3d(0, -50%, 0); }
}
@keyframes ticker--vertical {
    0% { transform: translateZ(0); }
    to { transform: translate3d(0, -50%, 0); }
}

/* ----- Client Logos ----- */
.client_ani {
    overflow: hidden;
    &-row {
        -webkit-animation: ticker-kf-even 45s linear infinite;
        animation: ticker-kf-even 45s linear infinite;
        display: flex;
        width: 200vw;
        &-list {
            display: flex;
            text-align: center;
            width: 100%;
        }
        &:nth-of-type(odd) {
            -webkit-animation: ticker-kf 45s linear infinite;
            animation: ticker-kf 45s linear infinite;
        }
    }
    &-column {
        width: calc(100% / 3);
        padding: 30px;
        @media (min-width: 768px) {
            width: calc(100% / 4);
        }
        @media (min-width: 1025px) {
            width: calc(100% / 6);
            flex: none;
            align-self: flex-start;
        }
        img {
            max-width: 175px;
            max-height: 70px;
        }
    }
}
@-webkit-keyframes ticker-kf {
    0% { transform: translateZ(0); }
    to { transform: translate3d(-100vw, 0, 0); }
}

@keyframes ticker-kf {
    0% { transform: translateZ(0); }
    to { transform: translate3d(-100vw, 0, 0); }
}
@-webkit-keyframes ticker-kf-even {
    0% { transform: translate3d(-100vw, 0, 0); }
    to { transform: translateZ(0); }
}

@keyframes ticker-kf-even {
    0% { transform: translate3d(-100vw, 0, 0); }
    to { transform: translateZ(0); }
}

/* ----- Latest News ----- */
.related-articles {
    &-container {
        display: grid;
        margin-top: auto;
        margin-bottom: auto;
        display: grid;
        grid-template-columns: repeat(8,minmax(0,1fr));
        row-gap: 0;
        @media (min-width: 768px) {
            grid-template-columns: repeat(12,minmax(0,1fr));
            gap: 16px;
        }
        @media (min-width: 1025px) {
            gap: 24px;
        }
        @media (min-width: 1441px) {
            gap: 32px
        }
    }
    &__desktop-content {
        display: inline;
        display: initial;
        @media (min-width: 768px) {
            display: none;
        }
    }
    &__title {
        display: block;
        font-size: 21.3vw;
        left: 0.09em;
        margin-top: -50%;
        position: relative;
        transform: rotate(-90deg) translate(-100%);
        transform-origin: top left;
        white-space: nowrap;
        @media (min-width: 768px) {
            font-size: 10.8vw;
        }
        &-container {
            height: 100%;
            margin-bottom: 40px;
        }
        &-rotate {
            &-outer {
                display: table;
                position: -webkit-sticky;
                position: sticky;
                top: 24px;
                @media (min-width: 768px) {
                    top: 48px;
                }
                @media (min-width: 1025px) {
                    top: 64px;
                }
            }
            &-inner {
                padding: 50% 0;
            }
        }
    }
    &__column {
        &--title-one {
            grid-column: span 3/span 3;
            @media (min-width: 768px) {
                grid-column: span 2/span 2;
            }
            .related-articles__title-container {
                position: relative;
                @media (min-width: 768px) {
                    left: 17%;
                }
                @media (min-width: 1025px) {
                    left: 39%;
                }
            }
        }
        &--title-two {
            grid-column: span 1/span 1;
            display: none;
            @media (min-width: 768px) {
                -ms-grid-row-align: end;
                align-self: end;
                height: calc(100% - 40px);
                grid-column-start: 3;
                display: block;
            }
            @media (min-width: 1025px) {
                -ms-grid-row-align: end;
                align-self: end;
                height: calc(100% - 40px);
            }
            .related-articles__title-container {
                h2 {
                    @media (min-width: 768px) {
                        padding-right: 25vh;
                    }
                }
                @media (min-width: 768px) {
                    left: -47%;
                }
                @media (min-width: 1025px) {
                    left: 0;
                }
            }
        }
        &--list {
            grid-column: span 4/span 4;
            grid-column-start: 4;
            @media (min-width: 768px) {
                grid-column: span 5/span 5;
                grid-column-start: 6;
            }
            li {
                &:not(:last-of-type) {
                    margin-bottom: 40px;
                    @media (min-width: 768px) {
                        margin-bottom: 32px;
                    }
                    @media (min-width: 1025px) {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
.opinion-article-card {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    row-gap: 0;
    align-items: center;
    &:first-of-type {
        padding-top: 0;
    }
    &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
    }
    @media (min-width: 768px) {
        grid-template-columns: repeat(8,minmax(0,1fr));
        gap: 20px;
    }
    @media (min-width: 1025px) {
        gap: 30px;
    }
    @media (min-width: 1441px) {
        gap: 50px;
    }
    &__column {
        &--image {
            grid-column: span 4/span 4;
            position: relative;   
        }
        &--content {
            grid-column: span 4/span 4;
            flex: row;
            &-title {
                margin-bottom: 20px;
                font-size: 2.2em;
            }
        }
    }
    &__aspect-ratio {
        margin-bottom: 8px;
        position: relative;
        overflow: hidden;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
        img {
            transition: all 0.3s ease;
        }
    }
    &:hover .opinion-article-card__aspect-ratio img {
        transform: scale(1.1);
    }
}

/* ----- Testimonials Section ----- */
.testimonials_slider {
    &-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        align-items: center;
    }
    &-content {
        &-title {
            font-size: 1.8em;
            margin-bottom: 30px;
        }
    }
    &-right {
        text-align: center;
        &-column {
            width: 275px;
            height: 275px;
            border-radius: 50%;
            position: absolute;
            transition: all 0.3s ease;
        }
        &-img {
            transform: translateX(-55%);
        }
        &-blank-circle {
            border: 1px solid $color-dark;
            position: inherit;    
        }
        &-arrow {
            background-color: $color-dark;
            transform: translateX(55%);
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
        a {
            display: inline-flex;
            &:hover {
                .testimonials_slider-right {
                    &-img {
                        transform: translateX(-35%);
                    }
                    &-arrow {
                        transform: translateX(35%);
                    }
                }
            }
        }
    }
}

/* ----- Location ----- */
.location_img {
    display: flex;
    align-items: flex-end;
}