/* CUSTOM FONTS */
@font-face {
	font-family: 'Mont';
	src: url('../fonts/Mont-Regular.eot');
	src: local('☺'),
		url('../fonts/Mont-Regular.woff') format('woff'),
		url('../fonts/Mont-Regular.ttf') format('truetype'),
		url('../fonts/Mont-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Mont';
	src: url('../fonts/Mont-Bold.eot');
	src: local('☺'),
		url('../fonts/Mont-Bold.woff') format('woff'),
		url('../fonts/Mont-Bold.ttf') format('truetype'),
		url('../fonts/Mont-Bold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Mont';
	src: url('../fonts/Mont-Heavy.eot');
	src: local('☺'),
		url('../fonts/Mont-Heavy.woff') format('woff'),
		url('../fonts/Mont-Heavy.ttf') format('truetype'),
		url('../fonts/Mont-Heavy.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}
@mixin font-render {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}
@mixin transition-cubic {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	transition-duration: 500ms;
	-webkit-transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	-webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
}
@mixin transition-bg {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
@mixin transition {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
/* BODY */
* {
	outline: none !important;
}

body {
	margin: 0;
	padding-left: 150px;
	padding-right: 50px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	color: $color-dark;
	@include transition-bg;
	@include font-render;
	&.home {
		padding-left: 0;
		padding-right: 0;
	}
}

/* LINKS */
a {
	color: $color-dark;
	@include transition;
	&:hover {
		text-decoration: inherit;
		color: $primary;
	}
	&:active {
		text-decoration: inherit;
	}
}

a:active {
	text-decoration: underline;
}
a.text-underline {
	text-decoration: underline;
}
.text-link {
	text-decoration: underline;
}
.border-round {
    border-radius: 50%;
}
/* HTML ELEMENTS */
img {
	max-width: 100%;
}

p {
	line-height: 1.8rem;
}

/* Section Space */
.sec-space {
    padding-top: 120px;
    padding-bottom: 120px;
    @media (max-width: 1199px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @media (max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
/* Post Meta */
ul.meta {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    li {
        font-size: 14px;
        color: $dark-grey;
        &:not(:last-child) {
            margin-right: 20px;
        }
        @media (max-width: 575px) {
            font-size: 12px;
        }
    }
}
.text-center {
    ul.meta {
        @media (max-width: 767px) {
            justify-content: center;
        }
    }
}
/* CUSTOM CONTAINER */
.container {
    @media (min-width: 1600px) {
        max-width: 1400px;
    }
}

/* Headings */
.title {
	font-size: 4em;
	line-height: 1.2em;
	font-weight: 400;
	@media (max-width: 1199px) {
		font-size: 3.4em;
	}
	@media (max-width: 767px) {
		font-size: 2.8em;
	}
	@media (max-width: 575px) {
		font-size: 2.4em;
	}
    &-big {
        font-size: 6em;
        line-height: 1.1em;
        font-weight: 400;
        @media (max-width: 1599px) {
            font-size: 4.6em;
        }
        @media (max-width: 1199px) {
            font-size: 3.5em;
        }
        @media (max-width: 991px) {
            font-size: 3em;
        }
        @media (max-width: 767px) {
            font-size: 2em;
        }
    }
	&-sub {
		font-size: 1.4em;
		@media (max-width: 767px) {
			font-size: 1.2em;
		}
		@media (max-width: 575px) {
			font-size: 1em;
		}
	}
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
}
h2 {
	font-size: 4.8em;
	font-weight: 600;
	margin-bottom: 15px;
	line-height: 1em;
	@media (max-width: 1199px) {
		font-size: 4.2em;
	}
	@media (max-width: 767px) {
		font-size: 3.6em;
	}
	@media (max-width: 575px) {
		font-size: 3.2em;
	}
}
h3 {
	font-size: 4em;
	font-weight: 600;
	@media (max-width: 1199px) {
		font-size: 3.4em;
	}
	@media (max-width: 767px) {
		font-size: 2.8em;
	}
	@media (max-width: 575px) {
		font-size: 2.4em;
	}
}
h4 {
	font-size: 3.4em;
	font-weight: 600;
	@media (max-width: 1199px) {
		font-size: 3em;
	}
	@media (max-width: 767px) {
		font-size: 2.4em;
	}
	@media (max-width: 575px) {
		font-size: 2em;
	}
}
h5 {
	font-size: 2.2em;
	font-weight: 600;
	@media (max-width: 1199px) {
		font-size: 2em;
	}
	@media (max-width: 767px) {
		font-size: 1.6em;
	}
	@media (max-width: 575px) {
		font-size: 1.2em;
	}
}
h6 {
	font-size: 1.4em;
	font-weight: 500;
	@media (max-width: 1199px) {
		font-size: 1.5em;
	}
	@media (max-width: 767px) {
		font-size: 1.2em;
	}
	@media (max-width: 575px) {
		font-size: 1em;
	}
}

/* Font Weight */
.font-weight {
	&-400 {
		font-weight: 400 !important;
	}
	&-600 {
		font-weight: 600 !important;
	}
	&-700 {
		font-weight: 700 !important;
	}
}

.color {
	&-light {
		background-color: #fff;
	}
	&-undefined {
		background-color: transparent;
	}
}

.overflow {
	overflow: hidden;
}
/* Icon List */
.icon-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	img {
		margin-top: 4px;
		max-width: 14px;
		max-height: 14px;
	}
	span {
		flex: 1;
		margin-left: 10px;
	}
}
/* Social Media Icons */
ul.social-icons {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	li:not(:last-child) {
		margin-right: 20px;
	}
}
/* Breadcrumb */
.breadcrumb {
	background: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
	margin: 0 0 15px;
	.breadcrumb-item+.breadcrumb-item:before {
		color: $grey;
		font-size: 10px;
	}
	li a {
		color: $dark-grey;
		font-size: 12px;
		&:hover {
			text-decoration: none;
			color: $primary;
		}
	}
}

/* CUSTOM ELEMENTS */
.color-dark {
	background-color: $color-dark;

	.left-side ul {
		width: 100vh;
		line-height: 1;
		display: block;
		margin: 0;
		margin-top: 50vh;
		margin-left: -9px;
		padding: 0;
		transform: rotate(-90deg);
		transform-origin: 0 0;
		position: absolute;
		left: 50%;
		top: 50%;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 10px;
			padding: 0;
			list-style: none;

			a {
				display: block;
				font-size: 13px;
				font-weight: 600;
				position: relative;
				padding: 0 2px;
				color: #fff;

				moe &:hover {
					text-decoration: none;
				}

				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: 6px;
					height: 1px;
					width: 0;
					transition: width 0s ease, background .25s ease;
				}

				&:after {
					content: '';
					display: block;
					position: absolute;
					right: 0;
					bottom: 6px;
					height: 1px;
					width: 0;
					background: #fff;
					transition: width .25s ease;
				}

				&:hover:before {
					width: 100%;
					background: #fff;
					transition: width .25s ease;
				}

				&:hover:after {
					width: 100%;
					background: transparent;
					transition: all 0s ease;
				}
			}
		}
	}

	.left-side .logo img {
		-webkit-filter: invert(100%);
		filter: invert(100%);
	}

	.left-side .gotop img {
		-webkit-filter: invert(100%);
		filter: invert(100%);
	}
}

/* TRANSITION OVERLAY */
.transition-overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	right: calc(-100% - 200px);
	bottom: 0;
	background: $color-dark;
	z-index: 99;
	@include transition-cubic;
	visibility: hidden;

	&:before {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 200px 100vh 0;
		border-color: transparent $color-dark transparent transparent;
		position: absolute;
		left: -200px;
		top: 0;
	}

	&.active {
		right: 0;
		visibility: visible;
	}
}

/* PRELOADER */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	width: 100vw;
	height: 100vh;
	background: $color-dark;
	opacity: 1;
	@include transition-cubic;
	z-index: 99;
	transition-delay: 0.65s;

	* {
		@include transition-cubic;
	}

	&:before {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 200px 100vh 0;
		border-color: transparent $color-dark transparent transparent;
		position: absolute;
		left: -200px;
		top: 0;
	}

	&:after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 100vh 0 0 200px;
		border-color: transparent transparent transparent $color-dark;
		position: absolute;
		right: -200px;
		top: 0;
	}

	.inner {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		.logo {
			display: inline-block;
			margin: 0;
			animation: fadeInUp ease 0.6s;

			img {
				height: 50px;
			}
		}

		.percentage {
			width: 100%;
			font-size: 70vh;
			line-height: 1;
			font-weight: 800;
			color: #fff;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			opacity: 0.05;
			transition-delay: 0.10s;
		}
	}
}

/* Accordion */
.accordion {
	position: sticky;
	top: 30px;
	.card {
		border: none;
		border-radius: 0;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&-header {
			background-color: transparent;
			border-bottom: none;
			padding: 0;
			a {
				font-size: 22px;
				font-weight: 700;
				padding: 15px 20px;
				display: block;
				color: #fff;
				background-color: $primary;
				border: 1px solid $primary;
				&:hover, &:focus {
					outline: none;
				}
			}
		}
	}
	> .card {
		border: 1px solid $primary;
		border-radius: 0;
		.card-header {
			position: relative;
			margin-bottom: inherit;
			cursor: pointer;
			padding: 15px 20px;
			margin: 0;

		}
		&:first-of-type {
			border-bottom: 1px solid $primary;
		}
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	.card {
		&-header {
			background-color: transparent;
			border: none;

			&:first-child {
				border-radius: 0;
			}
		}
		&-body {
			font-size: 14px;
			border: 1px solid $primary;
			margin-top: 5px;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			padding: 0 20px 15px;
		}
	}
	&-btn {
		position: absolute;
		right: 20px;
		top: 12px;
	}
	&-title {
		font-weight: 700;
		color: $primary;
		&.show {
			.accordion-btn {
				transform: rotate(180deg);
			}
		}
	}
}

/* Work Devider */
.word_divider {
    position: absolute;
    width: 100%;
    margin-top: -5%;
    overflow: hidden;
    h2 {
        font-size: 12em;
        line-height: 100%;
        opacity: 0.1;
        font-weight: 600;
    }
    &_left {
        h2 {
            transform: translateX(-100px);
        }
    }
    &_right {
        text-align: right;
        h2 {
            transform: translateX(100px);
        }
    }
    @media (max-width: 1400px) {
        h2 {
            font-size: 9em;
        }
    }
    @media (max-width: 1199px) {
        h2 {
            font-size: 6em;
        }
    }
}